# Stock database
stock_data.db

# Csv files
*.csv

# OS-specific files
.DS_Store

# Jupyter notebooks (if any)
*.ipynb

# Virtual environment folders
.env/
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log

# VSCode settings
.vscode/

# System files
Thumbs.db
ehthumbs.db
Icon?

# Screenshots
/screenshots/